h1, h2 {
  font-family: Lato;
}

p{
  display:block;
}
div{
  display:inline;
}

span{
    display: none; 
  border: 5px solid #af1d1d;
}

a{
  display: default;
}

span.K {
  visibility: visible;
}

div.A {
  visibility: hidden;
}
tr.collapse {
  visibility: collapse;
}

.inherit a {
  color: inherit;
}

h1.static{
  position: static;
  left: 170px;
  right:0px ;
  bottom:20px;
}
ul.relative {
  position: relative;
  left: 30px;
  border: 3px dotted #af1d1d;
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 350px;
  border: 3px solid #700ce4;
}

div.relative {
  position: relative;
  width: 500px;
  height: 300px;
  border: 3px solid #73AD21;
} 

div.absolute {
  position: absolute;
  top: 90px;

  width: 300px;
  height: 200px;
  border: 3px solid #73AD21;
}

div.sticky {
  position: sticky;
  top: 0;
  padding: 7px;
  width: 60px;
  background-color: #bdc027;
  border: 2px solid #850617;
}